    <div id="BodyPanel"></div>

    <script language='JavaScript' src='/ext_code/codemodel.js'></script>
    <script language='JavaScript' src='/ext_code/codestore.js'></script>
    <script language='JavaScript' src='/ext_code/codeviewmodel.js'></script>
    <script language='JavaScript' src='/ext_code/codeviewcontroller.js'></script>
    <script language='JavaScript' src='/ext_code/code.js'></script>    